<style>

p{
  text-align:justify;
  margin-right: 2.5%;
}
</style>

<h5 align='center'>Welcome to Rent Traders!</h5><hr><br>

<p>Moving houses can be very stressful especially when you need to do it on short notice. If you think about it, when you are about to start renting a new place, you are very likely to end up in a place that somebody rented previously.<br><br>

Rent traders is a service that addresses exactly that. Our web application allows you to switch places with a person that might be interested in moving to exactly your area. After registering you are able to see the listings and their location, current tenant and landlord contact information.<br><br>

The "Postcodes of interest" is a place where you specify the postcodes where you would be interested in moving to.<br><br>

You are welcome to browse listings or search by keywords, however our patent-pending "Recommended" page allows you to see the listings that are located in your postcodes of interest, so you are able to skip all the house offers that do not meet the criteria.<br><br>

You can also save listings to favourites if you would like to return back to them later.<br><br>

We hope that our web page will be the reason for your next move towards a better life.<br><br><p>
