<div><% @user.favourites.each do |l| %>
  <a href="<%= listing_path(l.listing) %>" class="column"><img src="<%= l.listing.picture_url%>" style="max-width:200px;max-height:300px;"> </a>
  <p class="column"><%= link_to l.listing.title, listing_path(l.listing)  %></p>
  <p class="column"><%= l.listing.description %></p>
<br>
<% end %><br></div>
