<h2> This is the index page of Listings</h2>
<hr>
<br>
<% @listings.each do |l| %>
<img src="<%= l.picture_url%>" alt= style="width:200px;height:100px;">

<img src="" >

<%= link_to l.title, l%><br>
<%= l.description %><br>
<% end %>
