
<h4>Update your postcodes of interest here</h4>
<p> "Postcodes of interest" let the website recommend you the best listings based on the location you would like to move to. You are welcome to provide as many postcodes as you like, separated by a comma.</p>
<%= form_tag("/edit_postcodes", method: "post") do %>
  <%= label_tag(:postcodes, "Postcodes:") %><br>
  <%= text_field_tag :postcodes, (params[:postcodes]) %>
  <%= submit_tag("Change") %>
<% end %>
