<h1>Welcome to RentApp, <%= @user.first_name %></h1>
  <p>
    You have successfully signed up to Rent App,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>

<p>Lots of love from Ed & Adrian</p>
